/****************************************************************
* global
****************************************************************/
* {
  font-family:'Helvetica Neue', Helvetica, Arial, Verdana, serif;
  color:#fff;
}
html,
body {
  background:url(../images/bg.gif);
}

/****************************************************************
* inputs
****************************************************************/
input,
textarea {
  outline:none;
}

/****************************************************************
* wrapper
****************************************************************/
#wrapper {
  background:url(../images/bg_wrapper.gif) repeat-x;
  
  min-height:800px;
  
  text-align:center;
}

/****************************************************************
* panel
****************************************************************/
#wrapper #panel {
  background:url(../images/panel_bg.png) repeat-x;
  
  height:161px;
  
  text-align:left;
}
#wrapper #panel .panel-content {
  margin:0 auto;
  
  width:900px;
}
#wrapper #panel .panel-content div div.header {
  height:33px;
}
#wrapper #panel .panel-content div div.content {
  padding:0 0 0 10px;
}

/****************************************************************
* panel:recentPosts
****************************************************************/
#wrapper #panel .panel-content #recentPosts {
  float:left;
  
  width:600px;
}
#wrapper #panel .panel-content #recentPosts div.header {
  background:url(../images/recentPosts.png) no-repeat;
}
#wrapper #panel .panel-content #recentPosts div.content {
}
#wrapper #panel .panel-content #recentPosts div.content ul li {
  float:left;
  
  display:block;
  
  width:273px;
  max-height:105px;
  
  overflow:hidden;
  
  margin:0 10px 5px 0;
  padding:5px;
  
  cursor:hand;
  cursor:pointer;
  
  background:url(../images/pre_bg.png);
  
  border:1px solid #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  line-height:16px;
}
#wrapper #panel .panel-content #recentPosts div.content ul li .title {
  font-weight:bold;
}
#wrapper #panel .panel-content #recentPosts div.content ul li .date {
  padding:0 0 0 5px;
  
  font-weight:normal;
  font-size:85%;
  color:#a56fa7;
}
#wrapper #panel .panel-content #recentPosts div.content ul li .preview {
  color:#a56fa7;
  font-size:93%;
}
#wrapper #panel .panel-content #recentPosts div.footer {
  text-align:center;
}
#wrapper #panel .panel-content #recentPosts div.footer .viewAll {  
  color:#a56fa7;
  font-size:93%;
  
  cursor:hand;
  cursor:pointer;
}

/****************************************************************
* panel:tags
****************************************************************/
#wrapper #panel .panel-content #tags {
  float:left;
  
  width:300px;
}
#wrapper #panel .panel-content #tags div.header {
  background:url(../images/archive.png) no-repeat;
}
#wrapper #panel .panel-content #tags div.content {
}
#wrapper #panel .panel-content #tags div.content ul li {
  float:left;
  
  margin:0 5px 0 0;
}
#wrapper #panel .panel-content #tags div.content ul li a:link,
#wrapper #panel .panel-content #tags div.content ul li a:active,
#wrapper #panel .panel-content #tags div.content ul li a:visited {
  display:block;
  
  text-decoration:none;
  
  width:140px;
}
#wrapper #panel .panel-content #tags div.content ul li a:hover {
  background:url(../images/pre_bg.png);
  
  color:#a56fa7;
}

/****************************************************************
* panel:contact
****************************************************************/
#wrapper #panel .panel-content #contact {
  float:left;
  
  width:300px;
}
#wrapper #panel .panel-content #contact div.header {
  background:url(../images/contact.png) no-repeat;
}
#wrapper #panel .panel-content #contact div.content {
  padding:0 0 0 10px;
}
/* input.text */
#wrapper #panel .panel-content #contact div.content input.text {
  background:url(../images/pre_bg.png);
  
  padding:3px;
  margin:0 0 1px 0;
  
  border:1px solid #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  color:#a56fa7;
  font-size:11px;
}
#wrapper #panel .panel-content #contact div.content input.text:focus {
  border:1px solid #a56fa7;
  
  color:#fff;
}
/* textarea */
#wrapper #panel .panel-content #contact div.content textarea {
  background:url(../images/pre_bg.png);
  
  padding:3px;
  margin:0 0 1px 0;
  
  width:280px;
  
  border:1px solid #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  color:#a56fa7;
  font-size:11px;
}
#wrapper #panel .panel-content #contact div.content textarea:focus {
  border:1px solid #a56fa7;
  
  color:#fff;
}
/* input.submit */
#wrapper #panel .panel-content #contact div.content input.submit {
  background:url(../images/pre_bg.png);
  
  padding:3px 5px;
  margin:0 0 1px 0;
  
  border:1px solid #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  cursor:pointer;
  cursor:hand;
  
  font-size:93%;
  color:#a56fa7;
}
#wrapper #panel .panel-content #contact div.content input.submit:hover {
  border:1px solid #a56fa7;
  
  color:#fff;
}

/****************************************************************
* content-wrapper
****************************************************************/
#content-wrapper {
  margin:0 auto;
  
  width:900px;
  
  text-align:left;
}

/****************************************************************
* nav (for panel)
****************************************************************/
#wrapper #content-wrapper #nav {
  text-align:right;
}
#wrapper #content-wrapper #nav ul {
}
#wrapper #content-wrapper #nav ul li {
  display:inline;
  
  cursor:pointer;
  cursor:hand;
}

/****************************************************************
* header
****************************************************************/
#wrapper #content-wrapper #header {
  margin:0 0 7px 0;
}

/****************************************************************
* about me
****************************************************************/
#wrapper #content-wrapper #aboutMe {
}

/* content */
#wrapper #content-wrapper #content {
  margin:7px 0 0 0;
}

/****************************************************************
* inner wrap
****************************************************************/
#wrapper #content-wrapper #content #inner_wrap {
  float:left;
  
  margin:0 10px 0 0;
  
  width:600px;
}

/****************************************************************
* post
****************************************************************/
#wrapper #content-wrapper #content #inner_wrap .post {
  background:url(../images/post_bg.png) repeat-y;
  
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  
  padding:10px;
  margin-bottom:10px;
}

/* header */
#wrapper #content-wrapper #content #inner_wrap .post .header {
  
}
/* date */
#wrapper #content-wrapper #content #inner_wrap .post .header .date {
  float:left;
}
#wrapper #content-wrapper #content #inner_wrap .post .header .date .month {
  font-size:77%;
  text-align:right;
}
#wrapper #content-wrapper #content #inner_wrap .post .header .date .day {
  font-size:280%;
  text-align:right;
  line-height:30px;
}
/* permalink */
#wrapper #content-wrapper #content #inner_wrap .post .header .permalink {
  float:left;
  
  margin:0 0 0 10px;
  
  height:44px;
  
  border:1px solid #a56fa7;
  border-width:0 0 0 1px;
  
  display:block;
  
  padding:7px 0 0 10px;
  
  font-size:167%;
  font-weight:bold;
  text-decoration:none;
}
#wrapper #content-wrapper #content #inner_wrap .post .header .permalink a:hover {
  color:#a56fa7;
}
/* paragraphs */
#wrapper #content-wrapper #content #inner_wrap .post p {
  padding:10px 0 0 0;
  
  line-height:18px;
  text-align:justify;
  color:#ebceec;
}
/* pre */
#wrapper #content-wrapper #content #inner_wrap .post pre {
  padding:5px 10px;
  margin:5px 10px;
  
  background:url(../images/pre_bg.png);
  
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  
  line-height:16px;
  font-family:"Consolas", "Courier New", Courier, mono, serif;
  font-size:93%;
  
  overflow:auto;
}
/* tags */
#wrapper #content-wrapper #content #inner_wrap .post ul.tags {
  margin:5px 10px;
}
#wrapper #content-wrapper #content #inner_wrap .post ul.tags li {
  display:inline;
  
  color:#a56fa7;
  font-size:93%;
}
#wrapper #content-wrapper #content #inner_wrap .post ul.tags li a:link,
#wrapper #content-wrapper #content #inner_wrap .post ul.tags li a:active,
#wrapper #content-wrapper #content #inner_wrap .post ul.tags li a:visited {
  padding:0 2px;
  
  color:#a56fa7;
  text-decoration:none;
}
#wrapper #content-wrapper #content #inner_wrap .post ul.tags li a:hover {
  background:#a56fa7;
  
  color:#000;
}

/****************************************************************
* comments
****************************************************************/
/* comments */
#wrapper #content-wrapper #content #inner_wrap .post.comment {
  
}
#wrapper #content-wrapper #content #inner_wrap .post.comment .header {
  background:url(../images/header_comments.png) no-repeat;
  
  height:15px;
}

#wrapper #content-wrapper #content #inner_wrap .post.comment .about {
  color:#a56fa7;
  font-size:11px;
}
#wrapper #content-wrapper #content #inner_wrap .post.comment .about span {
  font-weight:bold;
}
#wrapper #content-wrapper #content #inner_wrap .post.comment p {
  padding:0;
}

/* new comment */
#wrapper #content-wrapper #content #inner_wrap .post.new_comment {
  
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment .header {
  background:url(../images/header_new_comment.png) no-repeat;
  
  height:15px;
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment label {
  display:inline-block;
  
  font-size:11px;
  
  width:33px;
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment input,
#wrapper #content-wrapper #content #inner_wrap .post.new_comment textarea {
  background:url(../images/pre_bg.png);
  
  padding:3px;
  margin:0 0 1px 0;
  
  width:280px;
  
  border:1px solid #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  color:#a56fa7;
  font-size:11px;
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment input:focus,
#wrapper #content-wrapper #content #inner_wrap .post.new_comment textarea:focus {
  border:1px solid #a56fa7;
  
  color:#fff;
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment input {
  width:534px;
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment textarea {
  width:572px;
}
#wrapper #content-wrapper #content #inner_wrap .post.new_comment textarea {
  width:572px;
}

/****************************************************************
* sidebar
****************************************************************/
#wrapper #content-wrapper #content #sidebar {
  float:left;
  
  width:270px;
}

#wrapper #content-wrapper #content .sidebar {
  padding:10px;
  margin:0 0 10px 0;
  
  width:270px;
  
  background:url(../images/post_bg.png) repeat-y;
  
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}
#wrapper #content-wrapper #content .sidebar .header {
  height:22px;
}
#wrapper #content-wrapper #content .sidebar .background {
  background:url(../images/sidebar_bg.png) no-repeat;
}
#wrapper #content-wrapper #content .sidebar .content {
  padding:2px 0;
}
#wrapper #content-wrapper #content .sidebar .bottom {
  background:url(../images/sidebar_bottom.png) no-repeat;
  
  height:10px;
}
#wrapper #content-wrapper #content .sidebar ul {
}

/****************************************************************
* sidebar:twitter
****************************************************************/
#wrapper #content-wrapper #content #twitter.sidebar .header {
  background:url(../images/header_twitter.png) no-repeat;
}
#wrapper #content-wrapper #content #twitter.sidebar li a:link,
#wrapper #content-wrapper #content #twitter.sidebar li a:active,
#wrapper #content-wrapper #content #twitter.sidebar li a:visited {
  display:block;
  
  padding:2px 0;
  
  color:#a56fa7;
  text-decoration:none;
  font-size:85%;
}
#wrapper #content-wrapper #content #twitter.sidebar li.selected a:link,
#wrapper #content-wrapper #content #twitter.sidebar li.selected a:active,
#wrapper #content-wrapper #content #twitter.sidebar li.selected a:visited {
  font-size:138.5%;
  color:#fff;
}

/****************************************************************
* sidebar:flickr
****************************************************************/
#wrapper #content-wrapper #content #flickr.sidebar .header {
  background:url(../images/header_flickr.png) no-repeat;
}
#wrapper #content-wrapper #content #flickr.sidebar .content {
  padding-left:1px;
}
#wrapper #content-wrapper #content #flickr.sidebar .content a {

}
#wrapper #content-wrapper #content #flickr.sidebar .content img {
  width:60px;
  height:60px;
  
  margin:0 2px 2px 0;
  
  border:1px solid #fff;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

/****************************************************************
* footer
****************************************************************/
#wrapper #content-wrapper #footer {
  padding:5px 0;
  margin-bottom:10px;
  
  text-align:right;
}

/****************************************************************
* loading
****************************************************************/
.loading {
  text-align:center;
}
.loading img {
  margin:45px 0 0 0;
}

/****************************************************************
* clearfix
****************************************************************/
.clearfix {
  clear:both;
}