      <div id="panel">
        <div class="panel-content">
          
          <div id="recentPosts">
            <div class="header"></div>
            <div class="content">
              <ul>
                <%= render :partial => 'posts/recent_posts' %>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="footer">
              <div class="view_all"><%= link_to 'View All', '/archive' %></div>
            </div>
          </div>
          
          <div id="contact">
            <div class="header"></div>
            <div class="content">
              <form action="#" method="post">
                <div><input type="text" id="name" class="text" value="name" /></div>
                <div><input type="text" id="email" class="text" value="email" /></div>
                <div><textarea id="message" rows="2" cols="10">message</textarea></div>
                <div><input type="submit" id="submit" class="submit" value="Send" /></div>
              </form>
            </div>
          </div>
          
          <div class="clearfix"></div>
          
        </div>
      </div>