      <div id="panel">
        <div class="panel-content">
          
          <div id="recentPosts">
            <div class="header"></div>
            <div class="content">
              <ul>
                <li>
                  <div class="title">This is a recent post title<span class="date">01/05/2008</span></div>
                </li>
                <li>
                  <div class="title">This is a recent post title<span class="date">01/05/2008</span></div>
                </li>
                <li>
                  <div class="title">This is a recent post title<span class="date">01/05/2008</span></div>
                </li>
                <li>
                  <div class="title">This is a recent post title<span class="date">01/05/2008</span></div>
                </li>
                <li>
                  <div class="title">This is a recent post title<span class="date">01/05/2008</span></div>
                </li>
                <li>
                  <div class="title">This is a recent post title<span class="date">01/05/2008</span></div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="footer">
              <div class="viewAll"><%= link_to 'View All', archive_path %></div>
            </div>
          </div>
          
          <div id="contact">
            <div class="header"></div>
            <div class="content">
              <form action="#" method="post">
                <div><input type="text" id="name" class="text" value="name" /></div>
                <div><input type="text" id="email" class="text" value="email" /></div>
                <div><textarea id="message" rows="2" cols="10">message</textarea></div>
                <div><input type="submit" id="submit" class="submit" value="Send" /></div>
              </form>
            </div>
          </div>
          
          <div class="clearfix"></div>
          
        </div>
      </div>