<%= render :partial => @post %>

<div id="comments">
  <div class="post comment">
    <div class="header"></div>
  </div>
  <%= render :partial => @post.comments %>
</div>

<%= render :partial => 'comments/new_comment' %>
