<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>dougan.me</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- CSS -->
    <%= stylesheet_link_tag :all %>
    
    <!-- Javascript -->
    <%= javascript_include_tag 'jquery', 'jquery.flickr', 'jquery.twitter', 'jrails', 'jquery.pngFix.pack', 'application' %>
    
    <!--
      
      Why hello there- welcome to my humble little space where I have
      spent many hours sighing, smiling, laughing and crying.
      
      Enjoy looking through the awesome code. :)
      
    -->
  </head>
  <body>
    
    <div id="wrapper">
      
      <%= render :partial => 'index/panel' %>
      
      <div id="content-wrapper">
        
        <div id="nav">
          <ul>
            <li id="nav_panel"><a title="panel"><img src="/images/nav_panel.png" alt="show panel" /></a></li>
          </ul>
        </div>
        
        <div id="header">
          <a href="/" title="dougan.me"><img src="/images/header.png" alt="dougan.me" /></a>
        </div>
        
        <div id="aboutMe">
          <img src="/images/aboutMe.png" alt="about me" />
        </div>
        
        <div id="content">
          
          <div id="inner_wrap">
            
            <%= yield :layout %>
            
          </div>
          
          <div id="sidebar">
            
            <div id="twitter" class="sidebar">
              <div class="header"></div>
              <div class="content">
                <ul></ul>
              </div>
            </div>
          
            <div id="flickr" class="sidebar">
              <div class="header"></div>
            </div>
          
          </div>
          
        </div>
        
      </div>
      
      <div class="clearfix"></div>
      
      <div id="footer">
        <img src="/images/footer1.png" title="All content &copy; Robert Dougan 2009." alt="All content &copy; Robert Dougan 2009." />
        <img src="/images/footer2.png" title="Proudly powered by Rails." alt="Proudly powered by Rails." />
      </div>
      
    </div>
    
  </body>
</html>